#contact-form {
  margin: 0 auto;
  max-width: 460px;
  label {
    line-height: 1.5;
  }
  input,
  textarea {
    border: 1px solid black;
    display: block;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 1rem;
    padding: 0 .5rem;
    width: 100%;
  }
}