#supporting {
  ul {
    align-items: center;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-content: center;
    padding: 0;
    text-align: center;
    width: 100%;

    @media (min-width: 700px) {
      align-items: baseline;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }

    li {
      list-style-type: none;
      padding: 8px;
    }

    span {
      display: block;
      margin: 8px auto;
    }
  }
}