<form id="contact-form" method="POST" action="//formspree.io/rachel@8bitbatty.com">
        
  <label for="name">Name</label>
  <input type="text" id="name" name="name" minlength="2" required>
  
  <label for="email">Email</label>
  <input type="email" id="email" name="_replyto" minlength="4"required>
  
  <label for="message">How can I help you?</label>
  <textarea id="message" name="message" rows="4" cols="50" required></textarea>
  
  
  <button type="submit">Send your message!</button>
    
</form>