{% block hero %}
  <section class="hero">
    <div class="container">
      <img class="photo" src="theme/headshot.png" alt="">
      <div class="content">
        <ul class="display">
          <li>JavaScript Engineer</li>
          <li>Professional Instructor</li>
          <li>Google Certified Mobile Web Specialist</li>
          <li class="highlight">Front-end fanatic 💕🦄</li>
        </ul>
        <p>Let's work together on your next digital experience!</p>
      </div>
    </div>
  </section>
{% endblock hero %}