<div>
  <div class="two-col-60">
    <div>
      <img src="/work/footlocker.com.png" alt="">
    </div>
    <div>
      <img src="/work/proactiv.jp.png" alt="">
    </div>
  </div>
  <div class="two-col-60 right">
    <div>
      <img src="/work/ncv.png" alt="">
    </div>
    <div>
      <img src="/work/ama.png" alt="">
    </div>
  </div>
  <div class="three-col">
    <div>
      <img src="/work/uccreative.jpg" alt="">
    </div>
    <div>
      <img src="/work/iclops.png" alt="">
    </div>
    <div>
      <img src="/work/jellia0.jpg" alt="">
    </div>
  </div>
</div>